
<div class="block_sertificat">
  <h3>Лицензии на осуществление деятельности по трудоустройству</h3>
  <div class="list_sertificat inline-layout col-3">
    <div class="item"><a href="#sertuficat1" class="open_modal">
        <div class="image-holder"><img src="img/content/doc1.jpg" alt="name" class="fake-img"/>
          <div style="background: url(img/content/doc1.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: contain;" class="img"></div>
        </div></a></div>
    <div class="item"><a href="#sertuficat1" class="open_modal">
        <div class="image-holder"><img src="img/content/doc2.jpg" alt="name" class="fake-img"/>
          <div style="background: url(img/content/doc2.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: contain;" class="img"></div>
        </div></a></div>
    <div class="item"><a href="#sertuficat1" class="open_modal">
        <div class="image-holder"><img src="img/content/doc3.jpg" alt="name" class="fake-img"/>
          <div style="background: url(img/content/doc3.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: contain;" class="img"></div>
        </div></a></div>
  </div>
</div>