
<div class="block_text_vakansii">
  <div class="block_info_vakansii inline-layout">
    <div class="block-img"><a href="one-visa.html">
        <div class="image-holder"><img src="img/content/video_img2.jpg" class="fake-img"/>
          <div style="background: url('img/content/video_img2.jpg') no-repeat center;background-size: cover;" class="img"></div>
        </div></a></div>
    <div class="info_vakansii">
      <div class="inline-layout col-2">
        <div class="column">
          <div class="status">статус</div>
          <div class="indificator">Идентификатор</div>
          <div class="pol">пол</div>
          <div class="vozrast">возраст</div>
          <div class="oput">опыт</div>
          <div class="info_price">зарплата</div>
          <div class="strana">страна</div>
        </div>
        <div class="column">
          <div class="status hot">Горячая</div>
          <!--.status.free Бесплатная-->
          <div class="indificator">790</div>
          <div class="pol">мужчины</div>
          <div class="vozrast">20 - 47 лет</div>
          <div class="oput">3 года</div>
          <div class="info_price">
            <p>PLN = 3 000 - 7 000</p>
            <p>UAH ≈ 20 100 - 46 900</p>
            <p>USD ≈ 747 - 1 743</p>
            <p>EUR ≈ 663 - 1 548</p>
          </div>
          <div style="background: url('img/icons/icon-flag_polsha.png') no-repeat left center" class="strana">Польша</div>
        </div>
      </div>
    </div>
  </div>
  <div class="block_desc_vakansii">
    <h4>описание вакансии</h4>
    <div class="text_vakansii">
      <div class="item inline-layout">
        <div class="name">Обязанности</div>
        <div class="decs_vakansii">
          <p>Разработка приложений QlikView</p>
          <p>Администрирование сервера, пользователей QlikView</p>
          <p>Разработка скриптов загрузки из внешних систем (SAP, Супермаг, 1С, Excel)</p>
          <p>Сопровождение конечных пользователей QlikView</p>
          <p>Проведение обучения по работе с QlikView</p>
          <p>Оптимизация моделей и приложений QlikView</p>
          <p>Организация рассылок с помощью Nprinting, Publisher</p>
        </div>
      </div>
      <div class="item inline-layout">
        <div class="name">Условия трудоустройства</div>
        <div class="decs_vakansii">
          <p>Мы предоставим вам возможность для успешного карьерного и финансового</p>
          <p>Официальное трудоустройство, социальный пакет, оборудованное рабочее</p>
          <p>Мы ценим и уважаем! Дружный, профессиональный, молодой коллектив;</p>
        </div>
      </div>
      <div class="item inline-layout">
        <div class="name">Требования</div>
        <div class="decs_vakansii">
          <p>Практический опыт работы программистом — не менее 2 лет;</p>
          <p>Опыт работы с фреймворками</p>
          <p>Отличное знание PHP + MySQL + HTML + CSS + JavaScript + Ajax;</p>
        </div>
      </div>
      <div class="item inline-layout">
        <div class="name">Рабочий график</div>
        <div class="decs_vakansii">
          <p>5/2 (8 часовой рабочий день);</p>
          <p>Удаленная работа.</p>
        </div>
      </div><a href="#" class="button">Добавить резюме</a>
    </div>
  </div>
  <div class="block_sertificat">
    <h3>Лицензии на осуществление деятельности по трудоустройству</h3>
    <div class="list_sertificat inline-layout col-3">
        <div class="item"><a href="#">
            <div class="image-holder"><img src="img/content/doc1.jpg" alt="name" class="fake-img"/>
              <div style="background: url(img/content/doc1.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: contain;" class="img"></div>
            </div></a></div>
        <div class="item"><a href="#">
            <div class="image-holder"><img src="img/content/doc2.jpg" alt="name" class="fake-img"/>
              <div style="background: url(img/content/doc2.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: contain;" class="img"></div>
            </div></a></div>
        <div class="item"><a href="#">
            <div class="image-holder"><img src="img/content/doc3.jpg" alt="name" class="fake-img"/>
              <div style="background: url(img/content/doc3.jpg) no-repeat;background-position: center ;background-repeat: no-repeat;background-size: contain;" class="img"></div>
            </div></a></div>
    </div>
  </div>
</div>