
<nav>
  <ul class="inline-layout">
    <li><a href="about.html">О нас</a></li>
    <li><a href="visa.html">Визы</a></li>
    <li><a href="news.html">Новости</a></li>
    <li><a href="feedback.html">Отзывы</a></li>
    <li><a href="contact.html">Контакты</a></li>
  </ul>
</nav>