
<div class="block_error inline-layout">
  <div class="number_error"><img src="img/bg/error404.png" alt="404 Оошибка"/></div>
  <div class="text_error">
    <h3>УПС! Мы не можем найти страницу,<br/>которую вы ищите</h3>
    <p>Возможно адрес страницы введен не верно или такой страницы не существует</p><a href="/" class="back_home">перейти на  Главную</a>
  </div>
</div>