
<header>
  <div class="container">
    <div class="logo"><a href="/">Am lingvista<span>Трудоустройство за границей</span></a></div>
    <nav>
      <ul class="inline-layout">
            <li><a href="about.html">О нас</a></li>
            <li><a href="visa.html">Вакансии</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="feedback.html">Отзывы</a></li>
            <li><a href="contact.html">Контакты</a></li>
      </ul>
    </nav>
    <div class="block_phone"><a href="tel:+38 /067/ 362 04 74">+38 /067/ 362 04 74</a><a href="tel:+38 /050/ 371 98 00">+38 /050/ 371 98 00</a><a href="tel:+38 /050/ 111 11 11">+38 /050/ 111 11 11</a></div>
    <div class="block_button"><a href="#form_rezume" class="button open_modal">добавить резюме</a><a href="#form_call" class="button open_modal">Обратный звонок</a></div>
    <div class="block_lang"><a href="#" class="active">РУС</a><a href="#">УКР</a></div>
    <div class="menu-icon-open"><span></span></div>
    <div class="menu_mobile">
      <div class="menu-icon-close"><span></span></div>
      <div class="menu-holder">
        <nav>
          <ul class="inline-layout">
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="visa.html">Вакансии</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="feedback.html">Отзывы</a></li>
                    <li><a href="contact.html">Контакты</a></li>
          </ul>
        </nav>
        <div class="block_lang"><a href="#" class="active">РУС</a><a href="#">УКР</a></div>
      </div>
    </div>
  </div>
</header>