
<div class="list_pagination">
  <ul class="inline-layout">
    <li class="prev disabled"><a href="#"><i class="fa fa-angle-right"></i></a></li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
  </ul>
</div>