
<script src="external/jquery/dist/jquery.min.js"></script>
<script src="external/jquery.browser/dist/jquery.browser.min.js"></script>
<script src="external/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="js/validate.js"></script>
<script src="js/main.js"></script>