
<div class="text_header">
  <div class="block_text">
    <div>
      <h2>Легальная работа в Европе</h2>
      <p>от 500 до 1500 долларов в месяц</p><a href="#" class="button">Получить консультацию</a>
    </div>
  </div>
</div>