/*!
 * Copyright (c) 2015 - 2016. Hryvinskyi Volodymyr
 */

.mb-10 {
  margin-bottom: 10px;
}

.list_pagination li.prev span,
.list_pagination li.next span {
  width: 30px;
  height: 33px;
  display: block;
  border: 1px solid #00aaff;
  font-size: 20px;
  transition: all 0s;
  color: #00aaff;
  line-height: 31px;
}

.list_pagination li.prev a,
.list_pagination li.prev span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.block_feedback .list_feedback .item .block_video * {
  height: 100%;
}

.help-block {
  font-size: 11px;
  color: red;
  padding-left: 10px;
}

.info_vakansii {
  .column {
    > div {
      line-height: 14px;
    }
  }
}

.list-view {

  .empty {
    margin-bottom: 20px;
  }
}

.mod_system {

  &.default_error {

    .form_search {
      display: none;
    }
  }
}


.form_search {
  .row {
    .form-holder {

      &.specialization select,
      &.country select,
      &.currency select,
      input[type="text"] {
        padding-left: 5px;
        text-indent: 17px;
      }
      #filter-title {
        padding-left: 0;
        text-indent: 0;
      }
    }
  }
}

.lang_uk-ua .form-contact .form-group .fake-input-file {
  background: url("../img/icon-file-ukr.png") no-repeat;
}
